*.Rproj.user
*.Rhistory
*.RData
!modSummaries_commodity.Rdata
!modSummaries_seed.Rdata
*.Ruserdata
yield path analysis.R
*.rds
.~lock.*.csv#
.Rproj.user
Comments on paper
./Manuscript/*.aux
texput.log
